.page {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

.schedule_form {
    align-self: center;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 40px 15px;
    width: 100%;
    margin-top: 40px;
}

.container {
    display: flex;
}

.checkbox {
    transform: scale(3.5);
}


.radioButton {
    margin-right: 10px;
    border: 0px;
    transform: scale(1.3);
    height: 20px;
}

.free {
    align-self: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    width: 92%
}

.row {
    padding-top: 20px;
}

.table{
    width: 100%;
}


td {
    padding: 0px 10px 20px 10px;
    font-size: 20px
}

thead {
    font-size: 20px;
}
