.page {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

.schedule_form {
    align-self: center;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 40px 15px;
    width: 100%;
    margin-top: 40px;
}

.container {
    display: flex;
}


.mainLabel {
    font-size: 20px;
    font-weight: bold;
}

.labels {
    display: flex;
    flex-direction: column;
}

.monday {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    
}

.check{
    transform: scale(3.5);
    margin-bottom: 50px;
    margin-right: 45px;
}

.days {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin-left: 235px;
}

.day {
    margin-right: 28px;
}

.radioButton {
    margin-right: 10px;
    border: 0px;
    transform: scale(1.3);
    height: 20px;
}

.free {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    font-size: 20px;
}