.page {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

.schedule_form {
    align-self: center;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 40px 15px;
    width: 100%;
    margin-top: 40px;
}

.next{
    font-size: 20px;
    margin-top: 20px;
    width: 25%;
    padding: 20px 10px 20px 10px;
    border-radius: 5px;
    background: #02C39A;
    color: white;
    font-weight: bold;
    margin-left: 62%;

}

.back {
    align-self: flex-start;
    font-size: 20px;
    position: relative;
}

.morning {
    display: flex;
}

.mainLabel {
    font-size: 20px;
    font-weight: bold;
}

.checkboxes{
    margin-left: 30%;
    align-self: center;
    transform: scale(3);

}


