html, body {
    margin: 0;
}
.navbar {
    width: 100vw;
    height: 10vh;
    background: #061A40;
    display: flex;
    padding: 10px;
    opacity: 1;
    align-items: center;
    /* position: tip;
    top: 0px; */
}

.logo_container {
    margin-left: 10%;
    width: 20%;
    margin-top: 0.5%;
}

.logo {
    width: 100%;
}

.links_container{
    display: flex;
    margin-top: 1.5%;
    width: 80%;
    justify-content: space-between;
    margin-right: 10%;
}

.links {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
}

.linksU {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
}

.register {
    /* border: 3px solid #449DD1; */
    border-style: solid;
    border-radius: 10px;
    border-color: #449DD1;
    padding: 8px;
}

.user {
    margin-top: 0.5%;
}