
.navbar {
    background-color: rgba(6, 26, 64, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    height: 3rem;
    margin: 0.5rem 1rem;
}

.navbar-image {
    height: 2.5rem;
    margin: 0.25rem 1rem;
}

.navbar-username {
    margin: 0.2rem 0.5rem 0.2rem 0.5rem;
    color: whitesmoke;
}

.navbar-text {
    color: whitesmoke;
    margin: 0.5rem;
}
