.footer{
    width: 100%;
    height: 20vh;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.imgfooter{
    height: 50%;
    width: auto;
    margin: 20px;
}