.card {
    height: fit-content;
    width: 20vw;
    background-color: aquamarine;
    border-style: solid;
    border-width: 2px;
    border-radius: 1vh;
    margin: 10px;
    padding: 20px;
    
}
.card:hover {
    /* border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clase {
    border-bottom: 2px solid grey;
    margin : 0px;
    padding: 0px;
}

.body_text {
    margin: 0px
}