
.Slides{
    width: 100%;
    /* margin-top: 10vh; */
    /* height: 1000px; */
    z-index : 998;
}

.slidesContainer{
    height: 90vh;
    width: 100%;
}

.image-container{
    width: 100%;
    height: 100%;
    align-items: center;
    align-self: center;
    
}

.img{
    height: 90vh;
    align-self: center;
    width: 100%;
}

.parrafito{
    align-items: center;
    color:black;
    text-align: center;
}

.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.column{
    background-color: #061A40;
    border-radius: 20px;
    padding:30px;
    margin-bottom: 40px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img0{
    width: 10vw;
    height: auto;
    filter: grayscale(100%)
}

.index-buttons-sl{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 5vw;
    color: whitesmoke;
    margin: 5rem 15rem;
}

.index-buttons-buttons{
    display: flex;
    flex-direction: row;
}
.index-button-bottom{
    padding: 1rem;
    margin:1rem;
    background-color: #078f0e;
    border-radius: 1.5rem;
    color: whitesmoke;
}

.index-descripcion{
    width: 60vw;
    margin: 2rem;
}

