.tutor-additionalinfo-generalContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.form-additionalinfo-tutor {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: auto;
    background: white;
    padding: 3rem 3rem 3rem 5rem;
    border-radius: 15px;
}

.phone-date-tutor, .institution-career-tutor, .language-price-tutor, .location-tutor {
    display: flex;
    flex-direction: row;
}

.date-tutor {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.label-fecha-tutor {
    font-size: 20px;
    padding-bottom: 0.5rem;
}


.react-date-picker__wrapper {
    width: 17rem;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 5px;
    border: solid 1px !important;
    margin-right: 2rem;
}

.input-location-tutor {
    width: 35rem;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 5px;
    border: solid 1px;
    margin-right: 2rem;
}

.label-tutor-location {
    font-size: 20px;
    padding-bottom: 1rem;
}

.button-create-tutor {
    width: 10rem;
    margin-left: 14rem;
    border-radius: 5px;
}