.img-info-tutorado{
  height: 30rem;
  align-self: center;
  width: 30rem;
}

.inicio-tutorado {
  padding-left: 30rem;
}

.all-container-tutorado {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.container-tutoradoL {
  background-color: white;
  /* margin-top:13vh; */
  display: flex;
  /* width: 70%; */
  width: fit-content;
  height: auto;
  border-radius: 15px;
  padding: 0.5rem;
}
.form-container-tutorado {
  display: flex;
  /* margin-right: 8rem; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.form-tutorado {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* height: 90%; */
}
.input-tutorado {
  width: 16rem;
  font-size: 20px;
  padding: 0.5rem;
  border-radius: 5px;
  border: solid 1px;
  margin-right: 2rem;
}

.Label-tutorado {
  font-size: 20px;
  margin-bottom: 0.25rem;
}

.register-tutorado-button{
  height: 3rem;
  width: 15rem;
  border-radius: 3rem;
  border: solid 1px;
}

.p-inputs-tutorado {
  display: flex;
  flex-direction: row;
}

.input-container-tutorado {
  display: flex;
  flex-direction: column;
}

.information-tutorado {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
